RewriteEngine On
Options -Indexes
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^css/(.*)$  css/$1 [NC,L]
RewriteRule ^js/(.*)$ js/$1 [NC,L]
RewriteRule ^images/(.*)$ images/$1 [NC,L]
RewriteRule ^fonts/(.*)$  fonts/$1 [NC,L]
RewriteRule ^home_data/(.*)  home_data/$1 [NC,L]
RewriteRule ^files/(.*)  files/$1 [NC,L]


RewriteRule ^home index.php [L,QSA]
RewriteRule ^dashboard index.php [L,QSA]
RewriteRule ^Services/([0-9]+)/(.*) index.php?Serv&id=$1 [L,QSA]
RewriteRule ^News/(.*)/id=([0-9]+) index.php?News&search=$1&id=$2 [L,QSA]
RewriteRule ^News index.php?News [L,QSA]
RewriteRule ^Sectors_Branches index.php?Sections [L,QSA]
RewriteRule ^Section/(.*) index.php?action=PageView&control=page&pagefile=$1 [L,QSA]
